* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: rgba(255,255,255,1);
  padding: 10%;
}

.post-box {
  position: relative;
  border: 3px solid rgb(180, 187, 205);
}

p {
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  line-height: 1.4em;
  font-weight: 300;
  font-size: 3.2em;
  margin-top: -0.5em;
  color: #333;
}

span {
  color: #3b5998;
  font-weight: 600;

}

#madlib {
  padding: 40px 60px 60px 60px;
  -webkit-font-smoothing: antialiased;
  transition: color 1.6s ease-out, transform 1.6s ease-out;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

/*#subtitle {
  font-size: 2em;
  margin-top: 0.5em;
  transition-duration: 1.8s;
  transition-delay: 0.8s;
  -webkit-transition-duration: 1.8s;
}*/

/*#madlib.move {
  color: rgba(255, 255, 255, 0.85);
  transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);

}

#author.move {
  color: rgba(255, 255, 255, 0.75);
  transform: translate(0, 40px);
  -webkit-transform: translate(0, 40px);
}*/ 

.post-bar {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: rgb(242,242,242);
  border-top: 2px solid rgb(230,230,230);
}

.fbShare {
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  text-decoration: none;
  background: #3d599b url("https://cdn1.iconfinder.com/data/icons/freebie%3A-social-media-icons/64/facebook.png") no-repeat left center;
  background-size: 20px;
  color: #fff;
  padding-left: 25px;
  height: 30px;
  line-height: 30px;
  display: block;
  border-radius: 2px;
  font-weight: 400;
  width: 50px;
}
.fbShare span {
  margin-left: 45px;
}
.fbShare span {
  position: absolute;
  background: #fff;
  text-align: center;
  font-weight: 800;
  color: rgba(0,0,0,0.4);
  line-height: 18px;
  padding: 0px 5px;
}

@media only screen and (max-width: 480px) {

   p#madlib {
    font-size: 1.2em;
    padding: 20px 30px 30px 30px;
   }

}

